#carouselExample {
  overflow     : hidden;
  position     : relative !important;
  border       : solid 1px #D1D5DA !important;
  border-radius: 14px !important;
}

.carousel-inner {
  border-radius: 14px !important;
}

.carousel-item._cs-img-bl_xtbvu_6 {
  border-radius: 14px !important;
}

.carousel-control-prev,
.carousel-control-next {
  opacity   : 0 !important;
  visibility: hidden !important;
  transition: visibility 0.5s ease !important;
}

#carouselExample:hover .carousel-control-prev,
#carouselExample:hover .carousel-control-next {
  opacity   : 1 !important;
  visibility: visible !important;
  transition: opacity 0.6s ease !important;
}

span.carousel-control-prev-icon {
  background-color: #B2B2B2 !important;
  height          : 60px !important;
  width           : 30px !important;
  box-shadow      : 0 0 4px 0 rgba(0, 0, 0, .2) !important;
  border-radius   : 0 100px 100px 0 !important;
}

span.carousel-control-next-icon {
  background-color: #B2B2B2 !important;
  height          : 60px !important;
  width           : 30px !important;
  box-shadow      : 0 0 4px 0 rgba(0, 0, 0, .2) !important;
  border-radius   : 100px 0 0 100px !important;
}

/*  */

.cs-slide-right {
  height: 64px !important;
}

#carouselExampleSlidesOnly {
  overflow     : hidden;
  position     : relative !important;
  border-radius: 5px !important;
}

#carouselExampleSlidesOnly:hover .carousel-control-prev,
#carouselExampleSlidesOnly:hover .carousel-control-next {
  opacity   : 1 !important;
  visibility: visible !important;
  transition: opacity 0.6s ease !important;
}

.carousel-inner-right {
  border-radius: 5px !important;
}

span.carousel-control-prev-icon-right {
  height          : 40px !important;
  width           : 20px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow      : 0 0 4px 0 rgba(0, 0, 0, .1) !important;
  border-radius   : 0 100px 100px 0 !important;
}

span.carousel-control-next-icon-right {
  height          : 40px !important;
  width           : 20px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow      : 0 0 4px 0 rgba(0, 0, 0, .1) !important;
  border-radius   : 100px 0 0 100px !important;
}