.ct-wrapper {
  height          : 64px;
  display         : flex;
  align-items     : center;
  background-color: #141824;
  border-bottom: solid 1px #cbd0dd;
}

.ct-inner {
  width      : 100%;
  display    : flex;
  align-items: center;
  height     : 44px;
  padding    : 0 40px 0 24px;
}


.ct-img-avatar {
  width        : 100%;
  height       : 100%;
  display      : block;
  border-radius: 999px;
}