.wrap-logo {
    display    : flex;
    align-items: flex-end;
}

/* left */
.border-rs {
    position       : relative;
    width          : 36px;
    height         : 36px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.icon-outside {
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 9999;
    font-size      : 36px;
    color          : white;
    font-size      : 36px;
}

.icon-inside {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, calc(-50% + 5px));
    font-size: 20px;
    color    : var(--primary);
}

/* right */
.text-logo{
    display: flex;
    align-items: flex-end;
    line-height: 34px;
    font-size: 24px;
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 3px;
}