/* dropdown */
.dropdown-toggle::after {
  display: none !important;
}

.ul.dropdown-menu.dropdown-menu-end.show {
  margin-top: 20px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary) !important;
}