.square-block {
  text-decoration: none;
  display        : block;
  overflow       : hidden;
  width          : 319px;
  height         : 228px;
  border         : 2px solid #dedede;
  border-radius  : 15px;
  color          : #000;
  overflow       : hidden;
  transition     : scale .5s ease;

  .img {
    display                : block;
    height                 : 160px;
    width                  : 100%;
    background-repeat      : no-repeat;
    background-size        : cover;
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
  }

  .desc {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display           : -webkit-box;
    overflow          : hidden;
    overflow          : hidden;
    font-size         : 16px;
    line-height       : 23px;
  }

  &:hover {
    scale     : 1.05;
    transition: scale .5s ease;
  }
}

.cs-size-bl {
  display        : flex !important;
  justify-content: center !important;
  align-items    : flex-end !important;

  .cs-size {
    height: 70% !important;
  }
}

.cs-brand-item {
  &:hover {
    text-decoration:underline;
  }
}