.col-btn {
  width: 145px !important;
}

.icon-warning {
  color    : red;
  font-size: 80px;
}

.image-avatar {
  width        : 33.5px !important;
  height       : 33.5px !important;
  border-radius: 999px !important;
}

.active {
  --bs-table-bg: #d0fcfe !important;
}
