/* left */
.border-rs {
    position       : relative;
    width          : 22px;
    height         : 22px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-bottom  : 7px;
    margin-right   : 5px;
}

.icon-outside {
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : var(--primary);
}

.icon-inside {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, calc(-50% + 2px));
    font-size: 18px;
    color    : var(--color-white);
}
