.bl-logo-checkout {
    display         : flex;
    align-items     : center;
    width           : 100%;
    height          : 100px;
    background-color: #fff;
    border-bottom   : 1px solid rgba(0, 0, 0, .09);

    .logo-checkout {
        display        : flex;
        align-items    : center;
        justify-content: flex-start;
        font-weight    : 500;

        .logo {
            display     : flex;
            align-items : center;
            padding-left: 18px;

            img {
                width       : 40px;
                display     : block;
                margin-right: 4px;
                margin-top  : -15px;
            }
        }

        .checkout {
            padding-left: 15px;
            margin-left : 15px;
            border-left : solid 1px #d3d3d3;
        }
    }
}

.bg-wrapper {
    display         : flex;
    justify-content : center;
    width           : 100%;
    padding         : 12px 0 12px 0;
    background-color: #f9f9f9;
    margin-bottom   : -30px;
    min-height      : 1000px;

    .bg-top {
        height          : 3px;
        width           : 100%;
        background-image: repeating-linear-gradient(45deg, #000, #000 33px, transparent 0, transparent 41px, var(--primary) 0, var(--primary) 74px, transparent 0, transparent 82px);
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .cursor-text {
        cursor: text !important;
    }

    .cs-input-option:checked {
        background-color: #DC3444 !important;
        border-color    : #DC3444 !important;
    }

    .cs-input-option:focus {
        box-shadow: 0 0 0 .25rem rgba(220, 52, 68, 0.25) !important;
    }

    .location {
        padding         : 28px 30px 24px;
        background-color: #fff;
        margin-bottom   : 12px;

        .title {
            display      : flex;
            align-items  : center;
            color        : var(--primary);
            font-size    : 20px;
            font-weight  : 500;
            margin-bottom: 15px;

            .logo {
                font-size   : 26px;
                margin-right: 4px;
            }
        }

        .content {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .content-1,
            .content-2,
            .content-3 {
                font-size  : 14px;
                font-weight: 500;
            }

            .content-3:hover {
                color          : var(--primary);
                text-decoration: underline;
            }

            .content-1 {
                font-weight : 700;
                margin-right: 20px;
            }

            .content-2 {
                font-weight : 500;
                margin-right: 20px;
            }

            .content-3 {
                font-size      : 14px;
                font-weight    : 400;
                text-decoration: none;
                margin-right   : 20px;
                cursor         : pointer;
            }
        }
    }

    .img-avatar {
        height: 36px;
    }

    .bl-btn {
        display        : flex;
        justify-content: flex-end;
        align-items    : center;
        padding-bottom : 15px;

        .btn {
            font-size       : 14px;
            display         : flex;
            align-items     : center;
            justify-content : center;
            color           : #fff;
            height          : 45px;
            width           : 100%;
            font-weight     : 500;
            border          : 1px solid #DC3444;
            background-color: #DC3444;
            cursor          : pointer;
            border-radius   : 4px;
        }

        .btn:hover {
            box-shadow: 4px 4px 2px 0px #cdcdcd;
            filter    : brightness(0.95);
        }
    }

    .bl-buy {
        display: flex;
        width  : 100%;

        .buy {
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-weight     : 500;
            width           : 180px;
            height          : 38px;
            color           : #0066CC;
            text-decoration : none;
            border-radius   : 8px;
            background-color: #fff;
            border          : 1px solid #0066CC;
            cursor          : pointer;
        }

        .buy:hover {
            color     : #fff;
            background: #0066CC;
            box-shadow: 4px 4px 2px 0px #cdcdcd;
        }
    }
}