// pagination
.page {
  display        : flex;
  justify-content: flex-end;
  margin-top     : 20px;
  height         : 36px;

  .custom {
      --bs-pagination-padding-x: 1rem;
      --bs-pagination-padding-y: 0.35rem;
      --bs-pagination-font-size: 1.8rem;
  }
}