// pagination
.page {
  display        : flex;
  justify-content: flex-end;
  margin-top     : 20px;
  height         : 36px;

  .custom {
      --bs-pagination-padding-x: 13px;
      --bs-pagination-padding-y: 6px;
      --bs-pagination-font-size: 14px;
  }
}